[Unit]
Description = Coco

[Service]
Type = simple
Restart = always
RestartSec = 5
WorkingDirectory = /srv/coco
Environment = PYTHONBUFFERED = 1
EnvironmentFile = /srv/coco/venv/bin/activate
ExecStart = /srv/coco/venv/bin/python3 /srv/coco/bot.py

[Install]
WantedBy = multi-user.target
