[Unit]
Description = Coco
After = network.target

[Service]
Type = simple
User = bastakka
Restart = always
RestartSec = 5
WorkingDirectory = /srv/coco
Environment = PATH = /srv/coco/venv/bin:$PATH
ExecStart = /srv/coco/venv/bin/python3 /srv/coco/bot.py

[Install]
WantedBy = multi-user.target
