[Unit]
Description = Coco
After = network.target

[Service]
Type = simple
User = bastakka
Restart = always
RestartSec = 5
WorkingDirectory = /srv/coco-ch/
ExecStart = /srv/coco-ch/venv/bin/python3 /srv/coco-ch/bot.py

[Install]
WantedBy = multi-user.target
